body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

header {
  background-color: lightblue;
  padding: 20px;
}

.content img {
  width: 300px;
  height: 250px;
  border: 5px solid black;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 40px auto;
  border-radius: 20%;
}

.hidden {
  display: none;
}

#btn {
  border-radius: 20px;
  height: 3rem;
  width: 6rem;
  background-color: rgb(49, 0, 105);
  color: white;
  border-color: rgb(0, 2, 117);
  border-width: 5px;
  transition: all 0.5s;
  font-weight: 600;
}

#btn.daybtn {
  border-radius: 20px;
  height: 3rem;
  width: 6rem;
  background-color: rgb(232, 236, 0);
  color: rgb(0, 0, 0);
  border-color: rgb(207, 124, 0);
  border-width: 5px;
  transition: all 0.5s;
  font-weight: 600;
}
